{% extends 'base.html' %}
{% load gravatar %}
{% block title %}Revision {{revision.revision_number}}{% endblock title %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/css/revision.css" />
{% endblock css %}

{% block js %}
    {{block.super}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/media/js/annotate/annotate.js"></script>
    <script src="/media/js/revision.js"></script>
    <script>
    $(document).ready(function(){
    var settings = {
		source_element: '#source',
		annotation_xoff: -25,
		annotation_yoff: 10,
		add_control: '.add.control',
		toggle_control: '.toggle.control',
	};
	var save_annotations_to = new Object();
	var saved_annotations = {% autoescape off %} {{annotations}}; {% endautoescape %}

	annotate_js(settings, save_annotations_to, saved_annotations);
	
	$('.save.control').click(function(){
	    var json = JSON.stringify(save_annotations_to.json);
	    console.log(json);
	    $.post('annotations/new/', {annotations: json, revision:'{{revision.pk}}'}, function(data){
	        console.log(data);
	    });
	});
	
});
    </script>
{% endblock js %}

{% block main %}
<a href="javascript:void(0)" class="add control">add</a> | 
<a href="javascript:void(0)" class="save control">save</a> | 
<a href="javascript:void(0)" class="toggle control">toggle all</a>
<p>Revision {{revision.revision_number}}</p>
<div id="source">
<img src="../../media/{{revision.media_file_name}}" />
</div>

<div id="todos">
    <ul>
        {% for annotation in annotation_set %}
            <li class="todo">
                <p><img src="{% gravatar_url annotation.author.email %}" /></p>
                <p>{{annotation.author}}</p>
                <p>{{annotation.created_at}}</p>
                <p>{{annotation.text}}</p>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="comments">

{% for comment in comments %}

<p>{{comment.author}}@{{comment.reply_to.author}}</p>
<p>{{comment.created_at}}</p>
<p>{{comment.text}}</p>

{% endfor %}

</div>
{% endblock main %}
